.pic{
  position: relative;
  width: 100%;
  float: left;
  background-color: transparent;
}

.pic .cover{
  margin: auto;
  width: 55%;
  background-color: transparent;
  overflow: hidden;
}

.pic .cover-1{
  margin: auto;
  width: 385px;
  background-color: transparent;
  overflow: hidden;
}

.pic .cover a,
.pic .cover-1 a{
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}

.pic .cover a img,
.pic .cover-1 a img {
  background-color: #f9a01b;
  display: inline-block;
  max-width: 100%;
  opacity: 1;
  transition: transform 0.3s; /* Add smooth transition */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  width: 100%;
}

.pic .cover a img:hover,
.pic .cover-1 a img:hover {
  transform: scale(1.05); /* Scale down the element on hover */
  background-color: #f0f0f0; /* Change background color on hover */
  color: #333; /* Change text color on hover */
  -ms-transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
  opacity: .95;
}

.post{
  background-color: #F8F8F8;
  margin: auto;
}

@media (min-width: 1080px) {
  .post{
        width: 1448px;
    }
  }